<div id="title">
  <h1>
    {% unless site.git == "" %}
		  <a id="git-ic" href="{{site.git}}" target="_blank"><i class="fa fa-github"></i></a>
    {% endunless %}

    {% unless site.stackoverflow == "" %}
      <a id="so-ic" href="{{site.stackoverflow}}" target="_blank"><i class="fa fa-stack-overflow"></i></a>
    {% endunless %}

    <a id="sitename" href="/">LinuCC's Sandbox</a>
  </h1>

  <!-- Add something about you in p tag-->
  <p>So much to discover, so little time. Continuing to be amazed!</p>
  <hr/>

  {% include nav-links.html %}

</div>
