@import "node_modules/nord/src/sass/nord.scss";

body {
  background-color: $nord0;
  color: $nord4;
}

a {
    color: $nord7;
}

h1, h2, h3, h4, h5, h6 {
    color: $nord8;
}

code[class*="language-"], pre[class*="language-"] {
    background: $nord1;
    color: $nord4;
    text-shadow: none;
}

:not(pre) > code[class*="language-"] {
    background: $nord1;
    color: $nord4;
    text-shadow: none;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: $nord1;
    color: $nord4;
    text-shadow: none;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style
.token.string {
    background: $nord2;
}

blockquote, em {
    color: $nord6;
}

blockquote {
    border-left-color: $nord6;
}
